<!-- top nav bar -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Common header</a>
</nav>

<div class="container">

  <!-- editor -->
  <app-editor [model]="model" [schema]="schema" (modelChanged)="modelChanged($event)"></app-editor>

  <!-- output json -->
  <div *ngIf="ouputModel" class="row">
    <div class="card mt-4">
      <div class="card-header">
        Model
      </div>
      <div class="card-body">
        <h5 class="card-title">JSON</h5>
        <pre class="card-text">{{ clean(outputModel) | json }}</pre>
      </div>
    </div>
  </div>

</div>
